<amp-user-notification id="cookie-notification" layout="nodisplay" role="alert">
    <div class="container">
        <div class="row">
            <div class="col-11">
                Utilizamos cookies propias y de terceros para analizar nuestros servicios y mostrarte publicidad relacionada con tus preferencias, en base a un perfil elaborado a partir de tus hábitos de navegación (por ejemplo, páginas visitadas). Si continúas navegando, consideraremos que aceptas su uso. Puedes obtener más información <a href="/cookies" rel=“nofollow”>aquí</a>
            </div>
            <div class="col-1">
                <button class="btn btn-sm btn-dark" on="tap:cookie-notification.dismiss" style="margin-top:0.5rem">Entendido</button>
            </div>
        </div>
    </div>
</amp-user-notification>