<amp-user-notification id="cookie-notification" layout="nodisplay" role="alert">
  <div class="cookie-notification">
       <div>
        Para que este sitio funcione adecuadamente, a veces instalamos en los dispositivos de los usuarios pequeños ficheros de datos, conocidos como cookies. La mayoría de los grandes sitios web también lo hacen. Si continúas navegando, consideraremos que aceptas su uso.
        Puedes obtener más información <a href="/cookies" rel="nofollow noopener noreferrer">aquí</a>    
       </div>
       <button class="btn"
       on="tap:cookie-notification.dismiss">Entendido</button>
   </div>
</amp-user-notification>
