<div id="main" class="pure-u-1">
    <div class="email-content">
        <div class="email-content-header pure-g">
            <div class="pure-u-1-2">
                <h1 class="email-content-title">{{ include.detail.title }}</h1>
                <p class="email-content-subtitle">
                    From <a>{{ site.owner }}</a> at <span>{{ include.detail.date }}</span>
                </p>
            </div>
            
             <div class="email-content-controls pure-u-1-2">
                <button class="secondary-button pure-button">Reply</button>
                <button class="secondary-button pure-button">Forward</button>
                <button class="secondary-button pure-button">Move to</button>
            </div>
            
        </div>
        <div class="email-content-body">
          {{ include.detail.content }}
          
          {% include signature.html %}
        </div>
    </div>
</div>