<footer>
    <ul class="lista-en-linea">
        <li><a rel="nofollow noopener noreferrer" target="_blank" href="http://twitter.com/{{site.socials.twitter}}" class="fab fa-twitter"> <span>Twitter</span></a></li>
        <li><a rel="nofollow noopener noreferrer" target="_blank" href="http://github.com/{{site.socials.github}}" class="fab fa-github"> <span>Github</span></a></li>
        <li><a rel="nofollow noopener noreferrer" target="_blank" href="https://www.linkedin.com/in/{{site.socials.linkedin}}" class="fab fa-linkedin"> <span>LinkedIn<span></a></li>
        <li><a href="/feed.xml" class="fas fa-rss"> <span>RSS<span></a></li>
      </ul>
    {% include cookies-advice.html %}    
    <a href="/legal">Condiciones de Uso y privacidad</a> | <a href="/cookies">Política de Cookies</a>
</footer>