<nav id="nav" class="pure-u">
    <a href="#" class="nav-menu-button">Menu</a>
    <div class="nav-inner">
        <a href="{{site.url}}" class="primary-button pure-button">{{site.title}}</a>

        <div class="pure-menu">
            <ul class="pure-menu-list">
                <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">Inbox <span class="email-count">({{site.posts.size}})</span></a></li>
                <li class="pure-menu-item pure-menu-disabled"><a href="#" class="pure-menu-link">Important <span class="email-count">({{site.categories.important.size | default:0}})</span></a></li>
                <li class="pure-menu-item pure-menu-disabled"><a href="#" class="pure-menu-link">Sent <span class="email-count">({{site.categories.sent.size | default:0}})</span></a></li>
                <li class="pure-menu-item pure-menu-disabled"><a href="#" class="pure-menu-link">Drafts <span class="email-count">({{site.drafts.size | default:0}})</span></a></li>
                <li class="pure-menu-item pure-menu-disabled"><a href="#" class="pure-menu-link">Trash <span class="email-count">({{site.categories.trash.size | default:0}})</span></a></li>
                <li class="pure-menu-heading">Labels</li>
                {% include tags.html%}
                <li class="pure-menu-heading">Rss feeds</li>
                <li class="pure-menu-item"><a href="/feed.xml" class="pure-menu-link"><i class="fas fa-rss"></i> Atom</a></li>
            </ul>
        </div>
    </div>
</nav>