<br>
<div>
  <strong>{{site.owner}}</strong><br>
  <small>{{site.description}}</small><br><br>
  
  <ul class="pure-menu-list">
    <li class="pure-menu-item"><a target="_blank" href="http://twitter.com/{{site.socials.twitter}}" class="fab fa-twitter"> Twitter</a></li>
    <li class="pure-menu-item"><a target="_blank" href="http://github.com/{{site.socials.github}}" class="fab fa-github"> Github</a></li>
    <li class="pure-menu-item"><a target="_blank" href="https://www.linkedin.com/in/{{site.socials.linkedin}}" class="fab fa-linkedin"> LinkedIn</a></li>
  </ul>
</div>