<a href="{{post.url}}" class="pure-menu-link email-item {{include.unread}} {{include.selected}} pure-g">
    <div class="pure-u">
        <img width="64" height="64" alt="Authors avatar" class="email-avatar" src="/images/avatar.png">
    </div>
    <div class="pure-u-3-4">
        <h5 class="email-name">{{ site.owner }}</h5>
        <h4 class="email-subject">{{ include.post.title }}</h4>
        <p class="email-desc">
          {{include.post.excerpt | truncate: 30}}
        </p>
    </div>
</a>